* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,div{
    user-select: none;
}

header{
    background-color: #F3C0C4;
    width: 100%;
    height: 25%;
}

.header-superior{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    height: 50%;
}

.hs-izquierda{
    display: flex;
    justify-content: start;
    padding: 5%;
}

.hs-centro{
    display: flex;
    align-items: center;
    padding: 0%;
}

form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.buscador-contenedor {
    display: flex; 
    justify-content: end;
    align-items: center;
    border: none;
    border-radius: 40px;
    background-color: white;
    padding-right: 2%;
    width: 80%;
}

button{
    border: none;
    background: none;
    cursor: pointer;
}

.Lupa{
    height: 2vh;
}

.buscador{
    width: 100%;
    border: none;
    outline: none; 
    border-radius: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
}

.hs-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8%;
    justify-content: end;
    gap: 15%;
}

.Logo{
    height: 3vw;
}

.img-derecha{
    height: 2.5vw;
}

.header-inferior{
    width: 100%;
    padding: 1%;
}

.LISTA-NAVEGACION{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.navegacion{
    font-family: Altum Sans;
    font-weight: bold;
    font-size: 1.5rem;
    color: #43120D;
}

.cuadro{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    background:#43120D;
}

a{
    text-decoration: none;
    color: #43120D;
}

.navegacion-aux{
    font-family: Altum Sans;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

body{
    width: 100%;
    height: 75%;
}

.Parte1{
    display: grid;
    grid-template-rows: 20% 80%; 
    height: 40%;
}

.P1-fila1{
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.E_Mes{
    width: 25%;
}

.P1-fila2{
    text-align: center;
}

.Banner{
    height: 90%;
    width: 80%;
}

.Parte2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60%;
    background-color: #43120D;
    align-items: center;
}

.P2-f1-c1{
    display: grid;
    grid-template-rows: 30% 10% 60%;
}

.Bebidas{
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.img-Bebidas{
    height: 60%;
}

.Calientes{
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.img-Calientes{
    height: 100%;
}

.Calientes-Catalogo{
    display: flex;
}

.P2-f1-c2{
    text-align: center;
}

.img-Bebida-caliente{
    width: 40%;
}

p{
    padding-left: 50%;
    font-family: Altum Sans;
    color: white;
    font-size: 1.5em;
}

.Parte3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60%;
    background-color: #43120D;
    align-items: center;
}

.P3-c1{
    display: grid;
    grid-template-rows: 20% 80%;
}

.Frias{
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.img-Frias{
    height: 100%;
}

.P3-c2{
    text-align: center;
}

.img-Bebida-Fria{
    width: 40%;
}

@media (min-width: 620px) and (max-width: 800px) {
    .navegacion, .navegacion-aux{
        font-size: 15px;
    }
    
    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.5rem;
    }
}

@media (min-width: 0px) and (max-width: 620px) {
    .navegacion, .navegacion-aux{
        font-size: 10px;
    }
    
    h2{
        font-size: 1.3rem;
    }

    h3{
        font-size: 1.3rem;
    }

    .img-Bebida-caliente, 
    .img-Bebida-Fria{
        display: none;
    }
}