* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,div{
    user-select: none;
}

header{
    background-color: #F3C0C4;
    width: 100%;
    height: auto;
}

.header-superior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    padding: 1%;
}

.hs-izquierda{
    display: flex;
    justify-content: start;
}


.hs-derecha {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4%;
}

.Logo{
    height: 4vw;
}

.img-derecha{
    height: 4vw;
}

.header-inferior{
    width: 100%;
    padding: 1%;
}

.LISTA-NAVEGACION{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.navegacion{
    font-family: Altum Sans;
    font-weight: bold;
    font-size: 2rem;
    color: #43120D;
}

.cuadro{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    background:#43120D;
}

.Marron{
    background-color: #43120D;
}

a{
    text-decoration: none;
    color: #43120D;
}

.navegacion-aux{
    font-family: Altum Sans;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

body{
    width: 100%;
    height: auto;
}

.Parte1{
    display: grid;
    grid-template-rows: 20% 80%; 
    height: auto;
}

.P1-fila1{
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.E_Mes{
    width: 25%;
}

.P1-fila2{
    text-align: center;
}

.Banner{
    height: 90%;
    width: 80%;
}

.Parte2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    background-color: #43120D;
    align-items: center;
}

.P2-f1-c1{
    display: grid;
    grid-template-rows: 30% 10% 60%;
}

.Bebidas{
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.img-Bebidas{
    height: 60%;
}

.Calientes{
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.img-Calientes{
    height: 100%;
}

.Calientes-Catalogo{
    display: flex;
}

.P2-f1-c2{
    text-align: center;
}

.img-Bebida-caliente{
    width: 40%;
}

p{
    padding-left: 50%;
    font-family: Altum Sans;
    color: white;
    font-size: 1.5em;
}

.Parte3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60%;
    background-color: #43120D;
    align-items: center;
}

.P3-c1{
    display: grid;
    grid-template-rows: 20% 80%;
}

.Frias{
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.img-Frias{
    height: 100%;
}

.P3-c2{
    text-align: center;
}

.img-Bebida-Fria{
    width: 40%;
}

@media screen and (max-width: 1000px) {

    .header-inferior, .LISTA-NAVEGACION{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px; 
        flex-basis: 100%;
    }


    .cuadro{
        padding-left: 2%;
        padding-right: 2%;
    }

    .Logo, .img-derecha{
        height: 2.5vh;
    }

    li{
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .navegacion, .navegacion-aux{
        font-size: 30px;
    }
    
    .LISTA-NAVEGACION, .ultimo{
        flex-basis: 100%;
        text-align:center;
    }

    .Parte2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }    

    .Calientes-catalogo{
        padding-top: 3%;
    }

    p{
        padding-left: 25%;
        font-size: 30px;
    }

    .img-Bebida-caliente{
        width: 50%;
    }

    .Parte3{
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
    }

    .img-Bebida-Fria{
        width: 40%;
    }

}